# 1. Einführung in Python Basic Syntax.
---
Im Folgenden werden die Grundlagen der Python-Syntax erläutert.
Dabei werden wir uns auf den Leitfaden beziehen und darauf die Fragen aufbauen.

## 1.1 Variablen
Die erste Aufgabe besteht darin, Variablen zu definieren, die die folgenden Informationen enthalten:

In [44]:
first_name = "Hier ein Name einfügen"
last_name = "Hier ein Nachname einfügen"

In [ ]:
print("Hallo, mein Name ist", first_name, last_name)

*Erwarterter Output:*

<span style="color:lightgray"> **Hallo, mein Name ist Max Musterman** </span>

## 1.2 Definere nun dein Alter in der Varaible `alter`

In [ ]:
alter = 

print("Mein Name ist" , first_name, last_name, "und ich bin", alter, "Jahre alt")

*Erwarterter Output:*

<span style="color:lightgray"> Mein Name ist Max Mustermann und ich bin 20 Jahre alt </span>

## 1.3 Kommentare

Ersetzte den Kommentar nach den `#` und trage dein Wert der in der Variable gespeichert ist

In [ ]:
print(first_name)  # was ist in der Variable first_name gespeichert? 
print(last_name)   # was ist in der Variable last_name gespeichert?
print(alter)       # was ist in der Variable alter gespeichert?

*Erwarterter Output:*


<span style="color:lightgray">**Max           # Max** </span>

<span style="color:lightgray">**Mustermann   # Musterman** </span>

<span style="color:lightgray">**20           # 20** </span>

### 1.4 Datentypen
Definiere im folgeden die Datentypen 
1. `Integer` , 
2. `Float`, 
3. `String`, 
4. `Boolean` 

in einer ***Variable***.
Und **unter** der Variable eine kurze erklärung was der jeweilige Datentyp ist woran erkennst du Sie

In [5]:
# int:


# Erklärung: 


#-----------

# float:


# Erklärung:


#-----------
# str: 


# Erklärung:


#-----------
# bool:


# Erklärung:


#-----------

## 1.5 Rechen Operationen:
Führe folgende Mathematische Operation durch speicher das Ergebnis bitte immer in einer neuen Variable:

*Auf dein Sparkonte sind 1.000 €, auf dein Depot sind weitere 10.000 €. Du schuldest ein Freund 200 €.
Führe mit den gegeben Information Rechen operation durch.*

1. **Addition:** Berechne dein Gesamtvermögen, indem du dein Sparkonto und dein Depot zusammenzählst. 

2. **Subtraktion:** Berechne dein Nettovermögen (Gesamtvermögen abzgl. Schulden), indem du deine Schulden von deinem Gesamtvermögen abziehst.

3. **Multiplikation:** Berechne, wie viel Prozent deiner Schulden dein Gesamtvermögen ausmachen. Dazu multiplizierst du den Anteil deiner Schulden am Gesamtvermögen mit 100.

4. **Division:**
Du hast 1.000 € auf deinem Sparkonto und möchtest das Geld gleichmäßig auf 4 Monate verteilen. Wie viel Geld kannst du jeden Monat ausgeben?

In [6]:
Sparkonto = 1_000
Depot = 10_000
Verschuldung = 200

Erstelle drei Listen (list):

- Die erste Liste soll Länder enthalten als Strings (str).
    - Deutschland, Frankreich, Italien

- Die zweite Liste soll das BIP enthalten als Integers (int). 
    -  z.B Werte : 3800, 2700, 2000

- Die dritte Liste soll die Jahre enthalten als Integers (int). 
    - 2021, 2022, 2023

Wähle für alle Listen den passenden `Datentypen` aus. Und sei bereit sie kurz zu erklären.

In [46]:
Land = []              # Hier die erste Liste erstellen   
BIP = []               # Hier die zweite Liste erstellen  
Jahre = []             # Hier die Jahre-Liste erstellen

Erstelle ein Dictionary mit den folgenden Keys und Values:
- Keys: 
    - "Länder", "BIP in Mrd.", "Jahr"

- Iteams: 
    - füge in den Bereich Iteam deine erstellen Listen ein.

In [ ]:
my_dictionary = {
    "Key1": "Item1",
    "Key2": "Item2",
    "Key3": "Item3"
}
my_dictionary

## 2. Packages
---

#### Aufgabe: 
- **Installiere** die Packages `pandas` `seaborn` und `Matplotlib`.


- **Importiere** die Packages `seaborn` und `matplotlib` selbstständig.

In [ ]:
# füge hinzu seaborn und matplotlib unter pandas hinzu
%pip install pandas


# - Installiere seaborn 



# - Installiere matplotlib

In [50]:
# bsp für die Verwendung von packages
import pandas as pd


# - importiere seaborn 


# - importiere matplotlib

Nachdem wir die Packages erfolgreich Importieren haben können wir diese auch verwenden.

- Als erstes nutzen wir `Pandas` um daten einzulesen und zu verarbeiten.

- `Seaborn` nutzen wir um die Daten zu visualisieren.

- `Matplotlib` nutzen wir um die Visualisierung zu verfeinern.

Versuche mit hilfe von `Pandas` die Daten zu importieren und in einem DataFrame zu speichern.



Link zu dem Datensatz: https://raw.githubusercontent.com/mwaskom/seaborn-data/refs/heads/master/healthexp.csv

*Nutze folgende Funktion um Daten einzulesen:*
- pd.read_csv("Link hier einfügen")

In [73]:
df = pd.read_csv(filepath_or_buffer="https://raw.githubusercontent.com/mwaskom/seaborn-data/refs/heads/master/healthexp.csv", 
                 sep=",")                               # Hier den Pfad einfügen



df.head()

   Year        Country  Spending_USD  Life_Expectancy
0  1970        Germany       252.311             70.6
1  1970         France       192.143             72.2
2  1970  Great Britain       123.993             71.9
3  1970          Japan       150.437             72.0
4  1970            USA       326.961             70.9

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274 entries, 0 to 273
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             274 non-null    int64
 1   Country          274 non-null    string
 2   Spending_USD     274 non-null    float64
 3   Life_Expectancy  274 non-null    float64
dtypes: float64(2), int64(1), string(1)
memory usage: 8.7 KB

In [75]:
df["Country"] = df["Country"].astype("string")

In [77]:
df.describe().round(2)

          Year  Spending_USD  Life_Expectancy
count   274.00        274.00           274.00
mean   1996.99       2789.34            77.91
std      14.18       2194.94             3.28
min    1970.00        123.99            70.60
25%    1985.25       1038.36            75.53
50%    1998.00       2295.58            78.10
75%    2009.00       4055.61            80.57
max    2020.00      11859.18            84.70

Nachdem wir die Daten erfolgreich Importiert haben Filtern wir nun die Daten nach Bedigungen die uns passen sind.
Wir haben festgestellt das die Daten mehre Ländern Daten enthalten haben.

Nun werden wir für `Germany`und `Japan` zwei Seprate Variabelen erstellen.

In der Variable `Germany` soll nur Informationen zu Deutschland sein und 
in der Variable `Japan`soll nur Informatioen über Japan sein.

In [79]:
df["Country"].unique()  # folgender Code gibt dir an welche Länder in der Spalte "Country" vorkommen

<StringArray>
['Germany', 'France', 'Great Britain', 'Japan', 'USA', 'Canada']
Length: 6, dtype: string

Filterung der Daten:
---

In [ ]:
Germany = df[df["Country"] == " "]  # Hier filtern wir die Daten nach Deutschland
Germany.head()

In [ ]:
Japan = # hier die Daten für Japan filtern
Japan.head()

Erstelle nun eine neue Variable *Germany* und füge die Daten von Deutschland sowie alle Werte nach *2000* ein

In [84]:
Germany_filtered = df[(df["Country"] == "Germany") & 
                    (df["Year"] > 2000)].round(2)
Germany_filtered.head()

     Year  Country  Spending_USD  Life_Expectancy
155  2001  Germany       3009.37             78.5
161  2002  Germany       3239.77             78.5
167  2003  Germany       3329.37             78.6
173  2004  Germany       3391.52             79.2
179  2005  Germany       3429.96             79.4

Das gleiche ebenso für *Japan*:
Filter nach zwei beidungen 
1. Bedigung `Country` muss nur *Japan* sein
2. Nur werte nach dem Jahr `Year` *2000*

Nutze dabei gerne den Leitfaden `Daten filterung mit Pandas`

Visualisierung:
---
Für die **Visualisierung** verwenden wir die Bibliothek `seaborn` und `matplotlib`.

Da wir bereits `seaborn` und `matplotlib` installiert und importiert haben, können wir diese nun verwenden.

Folgende Funktion können wir zur Visualisierung nutzen

- sns.histplot()
- sns.scatterplot()
- sns.lineplot()
- sns.barplot()
und viele mehr findest du auf der offizielen Seite von seaborn.