# 1. Empirisches Projekt
---
### **Skript zu Daten Manipulation, Visulallisierung und zur Regressions Analyse**

Dieses Sktipt soll euch helfen eine Datenanalyse sowie eine Simple oder eine Mutiple Regression aufzubauen.
-> Falls ihr fragen habt bitte sagt mir bescheid ich helfe gerne aus!

> E-Mail: riccardo.dandrea@live.de
> Ihr könnte gerne eine Mail schreiben wo wir uns Per zoom treffen können, falls ihr schwierigkeiten habt bei der Programmierung:
> BITTE schreibt in der MAIL:
> - Was habt ihr vor ?
> - Wo liegt das Problem mit Code und Fehlermeldung
> - und wann ihr euch Per zoom treffen wollt Tag und Uhrzeit.
>
> Gerne bitte ich auch eine Sprechstunde neben den Vorlesungen wo wir uns einmal wöchentlich treffen und Ihr mir direkt Fragen stellt könnte.





Für die Datenanalyse kann als unterstützung der Leitfaden "Leitfaden.ipynbn" als unterstützung genutzt werden.
Ab Punkt 2. wird erklärt wie Libaries installiert werden und wie die Daten eingelesen werden können. Sowie weitere Schritte zur Datenanalyse.

# Google Colab:
---
##### 1. [Python Programmierung mit Google Colab link](https://colab.research.google.com/drive/1_LOqSLE3ogQIeh5_ho03JoLbuJAGTnwF)

<img src="Pictures_for_Explanation/1_Google_Colab_Starten.png" alt="Bildbeschreibung" width="700"/>



##### 2. Um ein Skript zu öffnen Navigiert auf Datei was oben Rechts vorzufinden ist und klickt "Notebook öffnen"

<img src="Pictures_for_Explanation/2_Datei_Optionen_öffnen.png" alt="Bildbeschreibung" width="700"/>

##### 3. Danach geht ihr  auf **Github** und fügt folgenden Link hinzu https://github.com/RiccardoDAndrea/Python-Crashkurs

<img src="Pictures_for_Explanation/3_Zuletzt_Geöffnet.png" alt="Bildbeschreibung" width="700"/>

##### 4. Nachdem Laden werdet ihr mehere Datein wie Skripte vorfinden.
<img src="Pictures_for_Explanation/4_Github_URL_eingeben.png" alt="Bildbeschreibung" width="700"/>

##### 5. Für die Logitische Regression wählt ihr Python_Log.ipynb und somit habt ihr erfolgreich das Skript zur bearbeitung eingeladen
<img src="Pictures_for_Explanation/5_Python_MLR.png" alt="Bildbeschreibung" width="700"/>

In [56]:
import os
if not os.path.exists("Data"):
    print("Ordner Data erstellt")
    os.makedirs("Data") 
elif os.path.exists("Data"):
    print("Ordner Data ist bereits vorhanden")


if not os.path.exists("MLR_Output"):
    print("Ordner Data erstellt")
    os.makedirs("MLR_Output") 
elif os.path.exists("MLR_Output"):
    print("Ordner Data ist bereits vorhanden")

# Erstellt dir ein Ordner wo du deine Daten speichern kannst

Ordner Data ist bereits vorhanden
Ordner Data ist bereits vorhanden

Importiert die folgenden libaries
- pandas
- matplotlib
- seaborn
- numpy

In [57]:
####
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as sk
import numpy as np

In [58]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import cross_val_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import ConfusionMatrixDisplay
from sklearn.metrics import classification_report
from sklearn.metrics import RocCurveDisplay
import warnings 
warnings.filterwarnings('ignore')

### importiere die Daten vom folgenden Link:
Titanic Datensatz: https://raw.githubusercontent.com/RiccardoDAndrea/Python-Crashkurs/refs/heads/main/Data/titantic.csv

Beschreibung:
- PassengerId: Unique identifier for each passenger.
- Survived: Survival status of the passenger (0 = Not Survived, 1 = Survived).
- Pclass: Passenger class (1 = First class, 2 = Second class, 3 = Third class).
- Sex: Gender of the passenger.
- Age: Age of the passenger.
- SibSp: Number of siblings/spouses aboard the Titanic.
- Parch: Number of parents/children aboard the Titanic.
- Fare: Fare paid by the passenger.
- Embarked: Port of embarkation (C = Cherbourg, Q = Queenstown, S = Southampton).

In [59]:
df = pd.read_csv("https://raw.githubusercontent.com/RiccardoDAndrea/Python-Crashkurs/refs/heads/main/Data/titantic.csv")
df

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [60]:
df.columns

Index(['Unnamed: 0', 'PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age',
       'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

### Entfernung von Spalten
Ihr habt während der Daten importierung unbeabsichtigt eine Spalte hinzugefügt Namens:
`"Unnamed: 0"`

Entferne diese Spalte nutz dafür bitte folgenden Link:

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html

weiter unten sind beispiele wie ihr den Code implementieren könnt speichert den neuen Dataframe in der Variable 
`df`

In [61]:
####
df.drop(columns=['Unnamed: 0'], inplace=True)

In [62]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [63]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Entferne aus der Spalte `"Age"` alle NaN-Werte.
Nutze dafür folgeden Link: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html

oder betreibe eine Online-Recherche.

In [64]:
df = df.dropna(subset=['Age'])
df["Age"].isna().sum()

np.int64(0)

In [65]:
df['Sex'].replace(['male','female'], [0, 1], inplace=True)

Anhand des Titanic Datensatzes versuchen wir folgende Wahrscheinlichkeit festzustellen die Überlebenswahrscheinlichkeit:
*Die Ziel Variable ist somit "Survived"*

Entscheidet nun *selbstständige* welche Spalten für euch Relevant sind für die Logitische Regression:
Erklärung des Datensatzes:
Beschreibung:

- PassengerId: Unique identifier for each passenger.
- Survived: Survival status of the passenger (0 = Not Survived, 1 = Survived).
- Pclass: Passenger class (1 = First class, 2 = Second class, 3 = Third class).
- Sex: Gender of the passenger.
- Age: Age of the passenger.
- SibSp: Number of siblings/spouses aboard the Titanic.
- Parch: Number of parents/children aboard the Titanic.
- Fare: Fare paid by the passenger.
- Embarked: Port of embarkation (C = Cherbourg, Q = Queenstown, S = Southampton).

Erstellt nun zwei Variabeln wie in der Lineare Regression mit
`X` und `y` 
In X speichert ihr die abhängigen Variabeln und in die unabhängige Variable `y`

In [66]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [67]:
# Schritt 1: Abhängige und unabhängige Festlegen
X = df[["Pclass", "Sex","Age"]]
y = df["Survived"]

## Logistische Regression

In [68]:
# Schritt 2: Initialisiere das Modell
model = LogisticRegression().fit(X, y)

In [69]:
y_pred = model.predict(X)
y_pred[:5]

array([0, 1, 1, 1, 0])

In [70]:
print("Perished:", model.predict_proba(X)[:,0][:5]) # Wahrscheinlichkeiten verstorben
print("Survived:", model.predict_proba(X)[:,1][:5]) # Wahrscheinlichkeiten überlebend

Perished: [0.88823442 0.09450613 0.45138902 0.08562761 0.92707668]
Survived: [0.11176558 0.90549387 0.54861098 0.91437239 0.07292332]

In [71]:
print("Accuracy Score:", accuracy_score(y,y_pred))

Accuracy Score: 0.7899159663865546

In [72]:
# Schritt 7: Cross-Validation (5-fach)
cv_score = cross_val_score(model, X, y, cv=5, scoring='accuracy')
print("Cross-Validation Score: ", cv_score)
print("Cross-Validation Score (Mean):", cv_score.mean())

Cross-Validation Score:  [0.76923077 0.83216783 0.77622378 0.74825175 0.8028169 ]
Cross-Validation Score (Mean): 0.7857382054565154

In [73]:
dataframe = pd.DataFrame(model.coef_, columns=X.columns)
dataframe["Intercept"] = model.intercept_
dataframe

     Pclass       Sex       Age  Intercept
0 -1.249207  2.412445 -0.036138   2.469827